.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 6rem;
}

.row {
  padding: 6rem 0;
  width: 50%;
}

.stickyRow {
  width: 50%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  justify-content: space-between;
  padding: 6rem 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 12px;
}

.subTitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
}

.shortDescription {
  color: #94A3B8;
  margin-top: 12px;
  max-width: 20rem;
}

.description {
  line-height: 1.7;
  color: #94A3B8;
  margin-bottom: 1rem;
}

.contentList {
  display: flex;
  gap: 16px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  fill: rgb(94, 234, 212);
}

.sectionList {
  margin-top: 6rem;
}

.sectionList .sectionItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  color: #64748B;
  padding: .75rem 0;
  width: fit-content;
}

.sectionList .sectionItem:hover {
  color: #E2E8F0;
}

.sectionList .sectionItem .line {
  height: 1px;
  width: 2rem;
  background: #64748B;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.sectionList .sectionItem:hover .line {
  height: 1px;
  width: 4rem;
  background: #E2E8F0;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.scrolledSectionItem{
  color: #E2E8F0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  color: #64748B;
  padding: .75rem 0;
  width: fit-content;
}

.scrolledSectionItem .line {
  height: 1px;
  width: 4rem;
  background: #E2E8F0;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.section {
  scroll-margin-top: 6rem;
  margin-bottom: 9rem;
}

.projectDesign {
  font-size: 14px;
}

.specialText {}

.mouseAnimation {
  position: fixed;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  z-index: 30;
  inset: 0;
  pointer-events: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}