.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 6rem;
}

.row {
  padding: 6rem 0;
  width: 50%;
}

.stickyRow {
  width: 50%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  justify-content: space-between;
  padding: 6rem 0;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 12px;
}

.subTitle {
  margin-top: 12px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: -.025em;
}

.shortDescription {
  color: #94A3B8;
  margin-top: 12px;
  max-width: 20rem;
}

.description {
  line-height: 1.7;
  color: #94A3B8;
  margin-bottom: 1rem;
}

.contentList {
  display: flex;
  gap: 16px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  fill: rgb(94, 234, 212);
}

.sectionList {
  margin-top: 6rem;
}

.sectionList .sectionItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  color: #64748B;
  padding: .75rem 0;
  width: fit-content;
}

.sectionList .sectionItem:hover {
  color: #E2E8F0;
}

.sectionList .sectionItem .line {
  height: 1px;
  width: 2rem;
  background: #64748B;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.sectionList .sectionItem:hover .line {
  height: 1px;
  width: 4rem;
  background: #E2E8F0;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.scrolledSectionItem {
  color: #E2E8F0;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  color: #64748B;
  padding: .75rem 0;
  width: fit-content;
}

.scrolledSectionItem .line {
  height: 1px;
  width: 4rem;
  background: #E2E8F0;
  margin-right: 1rem;
  transition: width .15s cubic-bezier(.4, 0, .2, 1);
}

.section {
  scroll-margin-top: 6rem;
  margin-bottom: 9rem;
}

.projectDesign {
  font-size: 14px;
}

.specialText {}

.mouseAnimation {
  position: fixed;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  z-index: 30;
  inset: 0;
  pointer-events: none;
}

/* Mobile */
@media (max-width: 1024px) {
  .main {
    display: block;
    min-height: auto;
    padding: 0 3rem;
  }

  .contentList {
    margin-top: 2rem;
  }

  .row {
    padding: 3rem 0;
    width: 100%;
  }

  .stickyRow {
    width: 100%;
    position: initial;
    display: block;
    max-height: auto;
    padding: 3rem 0;
  }

  .sectionTitle {
    position: sticky;
    top: 0;
    z-index: 20;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .1em;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 3rem;
    margin-left: -3rem;
    backdrop-filter: blur(8px);
    background-color: #0f1922c2;
    line-height: 1.25rem;
    overflow: hidden;
    text-transform: uppercase;
  }

  .section {
    scroll-margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .main {
    padding: 0 1.5rem;
  }
}