.root {
    position: relative;
    margin-bottom: 3rem;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    opacity: 1
}

.helfRoot {
    position: relative;
    margin-bottom: 3rem;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    opacity: 0.5
}

.Container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;
}

.hoverFilter {
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, .04)) drop-shadow(0 4px 3px rgba(0, 0, 0, .1));
    background-color: rgba(30, 41, 59, .5);
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    z-index: -1;
    top: -1rem;
    bottom: -1rem;
    left: -1.5rem;
    right: -1.5rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 0 0 rgba(148, 163, 184, .1);
    cursor: pointer;
}

.Container .dateRange {
    letter-spacing: .025em;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #49586d;
    width: 100%;
}

.Container .title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.Container .description {
    color: #94A3B8;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.5;
}

.Container .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.root .leftTopArrow {
    height: 16px;
    width: 16px;
    transform: translateY(5px) translateX(0px);
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
}

.root:hover .leftTopArrow {
    height: 16px;
    width: 16px;
    transform: translateY(0px) translateX(5px);
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
}

.Container .tags .tag {
    background-color: rgba(45, 212, 191, .1);
    color: #5EE4D4;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25rem;
}

@media (max-width: 1024px) {
    .Container {
        display: block;
    }
}